{% set isDisabled = isDisabled|default(false) %}
<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  <div class="a {{ 'b ' ~ ( isDisabled ? 'b--disabled' : '' ) ~ '' }}">
    Foo
  </div>
</div>
