{% set isDisabled = isDisabled|default(false) %}
<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  <div class="a {% if isDisabled %}{{'a--disabled'}}{% endif %} b">
    Foo
  </div>
</div>
