<div class="block {{class|default('')}}">
  <div class="static1 static2 dynamic dynamic--{{ modifier }}">
    Hello World
  </div>
  <div class="static1 static2 {{ true ? 'my-class ' }}">
    With Object Binding
  </div>
</div>
