{% set propBoolean = propBoolean|default(false) %}
{% set propPresent = propPresent|default('') %}
{% set propWithTypeNumber = propWithTypeNumber|default(0) %}
{% set propPresentWithTypeAndDefault = propPresentWithTypeAndDefault|default('foo') %}
{% set propPresentWithApostrophe = propPresentWithApostrophe|default('I\'m a text') %}
{% set propPresentWithAt = propPresentWithAt|default('vuetotwig@example.org') %}
<div class="{{ class|default('') }}">
  {{ test }}
</div>
