{% set title = title|default('Default') %}
{% set value = value|default(80) %}
{% set optionallyIgnore = false %}
<div>
  <div>
    {% if title == 'Something' %}
    <p>Default</p>
    {% endif %}
    <p>{{ title }}</p>
    {% if req %}
      <p>{{ value }}</p>
    {% endif %}
  </div>
</div>
