<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  <div>
    <h1>Headline</h1>
  </div>
  <div>
    <h2 class="some-thing">Headline 2</h2>
  </div>
  <div>
    <h3>{{ var }}</h3>
  </div>
</div>