{% set myCustomComputedProperty = false %}
<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  <div>
    {% if myCustomComputedProperty %}
    <p>Show something</p>
    {% endif %}
  </div>
</div>
