<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  {% if array|length %}
    <div>
      <h1>Headline</h1>
    </div>
  {% elseif array|length < 100 %}
    <div>
      <h1>Headline</h1>
    </div>
  {% endif %}
</div>
