<div class="{{ class|default('') }}">
  {% if someCondition %}
    <div>
      <h1>Headline</h1>
    </div>
  {% elseif someOtherCondition %}
  <div>
    <h2>Headline 2</h2>
  </div>
  {% else %}
  <div>
    <h3>Headline 3</h3>
  </div>
  {% endif %}
</div>