{% set show = show|default(false) %}
<div>
  {% if variable >= 1 %}
    <div>
      <h1>Headline</h1>
    </div>
  {% elseif variable < 100 and variable >= 1 %}
    <div>
      <h1>Headline</h1>
    </div>
  {% endif %}
  {% if showIcon %}
    <span>Oh no.</span>
  {% endif %}
</div>
