<div class="{{class|default('')}}">
  {% if someCondition %}
    <div>
      <h1>Headline</h1>
    </div>
  {% endif %}
  {% if someOtherCondition %}
  <div>
    <h2>Headline</h2>
  </div>
  {% endif %}
</div>