<style>
  .foo[data-v-12345678] {
    color: red;
  }
  .bar[data-v-12345678],
  .baz[data-v-12345678] {
    color: blue;
  }
  .foo:after[data-v-12345678] {
    display: none;
  }
  .root .bar[data-v-12345678] {
    text-decoration: underline;
  }
</style>
<div class="root {{ class|default('') }}" data-v-12345678="" style="{{ style|default('') }}">
  <div class="foo" data-v-12345678="">
    foo
  </div>
  <div class="bar" data-v-12345678="">
    bar
  </div>
  <div class="baz" data-v-12345678="">
    baz
  </div>
</div>
