<style>
  .foo[data-v-298e350a] {
    color: red;
  }
  .bar[data-v-298e350a],
  .baz[data-v-298e350a] {
    color: blue;
  }
  .foo:after[data-v-298e350a] {
    display: none;
  }
  .root .bar[data-v-298e350a] {
    text-decoration: underline;
  }
</style>
<div class="root {{ class|default('') }}" data-v-298e350a="" style="{{ style|default('') }}">
  <div class="foo" data-v-298e350a="">
    foo
  </div>
  <div class="bar" data-v-298e350a="">
    bar
  </div>
  <div class="baz" data-v-298e350a="">
    baz
  </div>
</div>
