<style>/* Warning: `./file` file not found for @import: line: 2, column: 1 */</style>
<div class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo">
      foo
    </div>
</div>
