<style> .foo[data-v-12345678] { color: red; }</style>
<div data-v-12345678="" class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo" data-v-12345678="">
      foo
    </div>
</div>
