<style> .foo { color: red; }</style>
<style> .bar[data-v-d90c3272] { color: blue; }</style>
<style>.baz { color: #00FF00; }</style>
<div data-v-d90c3272="" class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo bar baz" data-v-d90c3272="">
      42
    </div>
</div>
