<style>.foo { color: red;}.foo__bar { color: blue;}.foo__baz { color: #00FF00;}</style>
<div class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo">
      foo
    </div>
</div>
