<style>.foo[data-v-bc2fd269] { color: red; } .foo__bar[data-v-bc2fd269] { color: blue; } .foo__baz[data-v-bc2fd269] { color: #00FF00; }</style>
<div data-v-bc2fd269="" class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo__bar" data-v-bc2fd269="">
      baz
    </div>
</div>
