<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  {% for a in listOfProducts %}{% include "/templates/ChildComponent.twig" with { 'string': "string", 'product': productA, 'slot_default': "", 'class': "", 'style': "" } %}{% endfor %}
</div>
