<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  {% include "/templates/ChildComponent.twig" with { 'bar': "baz", 'slot_default': "", 'a': a, 'b': b, 'class': "", 'style': "" } %}
</div>
