<style>
  .foo[data-v-a2116698cabca27b45a4db453446b8d2] {
    color: red;
  }
</style>
<div class="root {{ class|default('') }}" data-v-a2116698cabca27b45a4db453446b8d2="" style="{{ style|default('') }}">
  <div class="foo" data-v-a2116698cabca27b45a4db453446b8d2="">
    {% include "/templates/ChildComponent.twig" with { 'scoped': "a2116698cabca27b45a4db453446b8d2", 'class': "", 'style': "" } %}
  </div>
</div>
