<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  {% include "/templates/ChildComponent.twig" with {
    'product': testProduct,
    'showSomething': index > 5 and a == true,
    'testA': "Hello", 'string': "Test", 'class': "", 'style': "" } %}
</div>
