<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  {% include "/templates/ChildComponent.twig" with { 'product': testProduct, 'testA': "Hello", 'string': "Test", 'class': "", 'style': "" } %}
</div>
