<style>
    .star[data-v-7e44ab20eefdd2c93593e73b7fb7a43c] { margin-right: 0.125rem; width: 3.125rem; height: 3.125rem; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20id%3D%22"); }
    @media (-ms-high-contrast: none), (-ms-high-contrast: active) { .star[data-v-7e44ab20eefdd2c93593e73b7fb7a43c] { margin-right: -0.3125rem !important; } }
</style>
<div class="star {{ class|default('') }}" data-v-7e44ab20eefdd2c93593e73b7fb7a43c {{ dataScopedStyleAttribute|default('') }} style="{{ style|default('') }}"></div>
