<style> .foo { color: red; }</style>
<style> .bar[data-v-d90c32720cdc50ff836bde94d71a2bb5] { color: blue; }</style>
<style>.baz { color: #00FF00;}</style>
<div data-v-d90c32720cdc50ff836bde94d71a2bb5 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo bar baz" data-v-d90c32720cdc50ff836bde94d71a2bb5>
      42
    </div>
</div>
