<style>.foo[data-v-eb50964453fb1d39d2d2f020c6639c00] { color: red; } .foo__bar[data-v-eb50964453fb1d39d2d2f020c6639c00] { color: blue; } .foo__baz[data-v-eb50964453fb1d39d2d2f020c6639c00] { color: #00FF00; }</style>
<div data-v-eb50964453fb1d39d2d2f020c6639c00 class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo__bar" data-v-eb50964453fb1d39d2d2f020c6639c00>
      baz
    </div>
</div>
