<style>
  .foo[data-v-7ac31a851ab0c4c52bc569b6f256bfe4] {
    color: red;
  }
</style>
<div class="root {{ class|default('') }}" data-v-7ac31a851ab0c4c52bc569b6f256bfe4 {{ dataScopedStyleAttribute|default('') }} style="{{ style|default('') }}">
  <div class="foo" data-v-7ac31a851ab0c4c52bc569b6f256bfe4>
    {% include "/templates/ChildComponent.twig" with { 'dataScopedStyleAttribute': "data-v-7ac31a851ab0c4c52bc569b6f256bfe4", 'class': "", 'style': "" } %}
  </div>
</div>
