<style>
  .foo[data-v-6737f06d5bb113335593e128322855f1] {
    color: red;
  }
  .bar[data-v-6737f06d5bb113335593e128322855f1],
  .baz[data-v-6737f06d5bb113335593e128322855f1] {
    color: blue;
  }
  .foo:after[data-v-6737f06d5bb113335593e128322855f1] {
    display: none;
  }
  .root .bar[data-v-6737f06d5bb113335593e128322855f1] {
    text-decoration: underline;
  }
</style>
<div class="root {{ class|default('') }}" data-v-6737f06d5bb113335593e128322855f1 {{ scoped|default('') }} style="{{ style|default('') }}">
  <div class="foo" data-v-6737f06d5bb113335593e128322855f1>
    foo
  </div>
  <div class="bar" data-v-6737f06d5bb113335593e128322855f1>
    bar
  </div>
  <div class="baz" data-v-6737f06d5bb113335593e128322855f1>
    baz
  </div>
</div>
