<style> .foo { color: red; }</style>
<div {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo">
      foo
    </div>
</div>
