<style>
    .foo[data-v-847688d9dc643995a8ff92078036c174] li:nth-child(2) { color: purple; }
</style>
<div data-v-847688d9dc643995a8ff92078036c174 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <ul class="foo" data-v-847688d9dc643995a8ff92078036c174>
        <li data-v-847688d9dc643995a8ff92078036c174>foo</li>
        <li data-v-847688d9dc643995a8ff92078036c174>bar</li>
        <li data-v-847688d9dc643995a8ff92078036c174>baz</li>
    </ul>
</div>
