<style>.foo[data-v-fd8b19a241436e9520956030475ed391] { color: red;}.foo[data-v-fd8b19a241436e9520956030475ed391] .bar { color: blue;}</style>
<div data-v-fd8b19a241436e9520956030475ed391 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo" data-v-fd8b19a241436e9520956030475ed391>
        foo
    </div>
</div>
