<style>
    .foo[data-v-34e67cc3ec28c53ca40eb2cd78aa6d35] { color: red; }
    .foo[data-v-34e67cc3ec28c53ca40eb2cd78aa6d35] .bar { color: blue; }
</style>
<div data-v-34e67cc3ec28c53ca40eb2cd78aa6d35 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo" data-v-34e67cc3ec28c53ca40eb2cd78aa6d35>
        foo
    </div>
</div>
