<style>
  .foo[data-v-298e350ad072842c5a52ec31b90d5edf] {
    color: red;
  }
  .bar[data-v-298e350ad072842c5a52ec31b90d5edf],
  .baz[data-v-298e350ad072842c5a52ec31b90d5edf] {
    color: blue;
  }
  .foo:after[data-v-298e350ad072842c5a52ec31b90d5edf] {
    display: none;
  }
  .root .bar[data-v-298e350ad072842c5a52ec31b90d5edf] {
    text-decoration: underline;
  }
</style>
<div class="root {{ class|default('') }}" data-v-298e350ad072842c5a52ec31b90d5edf {{ dataScopedStyleAttribute|default('') }} style="{{ style|default('') }}">
  <div class="foo" data-v-298e350ad072842c5a52ec31b90d5edf>
    foo
  </div>
  <div class="bar" data-v-298e350ad072842c5a52ec31b90d5edf>
    bar
  </div>
  <div class="baz" data-v-298e350ad072842c5a52ec31b90d5edf>
    baz
  </div>
</div>
