<style>.foo[data-v-ebb65c10cf7f8655fefc2dd8f1dcbde2] { color: blue;}.foo__bar[data-v-ebb65c10cf7f8655fefc2dd8f1dcbde2] { color: #FF0000;}</style>
<div data-v-ebb65c10cf7f8655fefc2dd8f1dcbde2 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo__bar" data-v-ebb65c10cf7f8655fefc2dd8f1dcbde2>
      baz
    </div>
</div>
