<style>.foo[data-v-7e73cf3ea81584bf814227e32d0e09f8] { color: #0000FF;}.foo__bar[data-v-7e73cf3ea81584bf814227e32d0e09f8] { color: #AA0000;}</style>
<div data-v-7e73cf3ea81584bf814227e32d0e09f8 {{ dataScopedStyleAttribute|default('') }} class="{{ class|default('') }}" style="{{ style|default('') }}">
    <div class="foo__bar" data-v-7e73cf3ea81584bf814227e32d0e09f8>
        baz
    </div>
</div>
