{% set bar = bar|default('baz') %}
{% set myNumber = 1 %}
{% set myString = 'foo' %}
{% set myArray = [ 'a', 'b', 'c', ] %}
{% set myObject = { a: 'x', b: 'y', c: 'z', } %}
{% set calculatedNumber = myString|length + 1 %}
<div class="{{ class|default('') }}" style="{{ style|default('') }}"> Hello World! </div>