<div>
  {% for item in items %}
    <div>
      {{ item.text }}
    </div>
  {% endfor %}
  {% for key, item in items %}
    <div>A</div>
  {% endfor %}
  {% for key, val in object %}
    <div>B</div>
  {% endfor %}
  {% for key, val in object %}
    {% set index = loop.index0 %}
    <div>C</div>
  {% endfor %}
  <div>
    {% for item in items %}
      <div>
        {{ item.text }}
      </div>
    {% endfor %}
  </div>
</div>